.product_details{
    margin-top: 50px;
}
.product_details h2{
font-size:1.6rem ;
margin-bottom: 10px;
}
.product_rating span i{
color: coral;
}
.product_rating p span{
    color: coral;
    font-weight: 500;
}
.product_price{
    font-size: 1.8rem;
}
.tab-wrapper {
   color: var(--text-teal); 
   cursor: pointer;
}
.active_tab{
    font-weight: 600;
    color: var( --color-secondary);
}
.review_wrapper ul li span{
    margin-top: 5px;
   color: coral; 
   font-weight: 600;
}
.review_wrapper ul li p{
  margin-top: 10px;  
}
